.proton {
    width: 30px;
    height: 30px;
    position: absolute;
}

#proton2 {
    top: 185px;
    left: 100px;
}

#proton3 {
    top: 185px;
    left: 100px;
}

#proton8 {
    top: 185px;
    left: 100px;
}

body {
    background-image: url("img/background3.jpg");
    background-repeat: repeat-y;
}

#container {
    width: 100%;
    height: 400px;
    margin: auto;
    padding: 10px;
}

#animationContainer {
    width: 900px;
    height: 400px;
    margin: auto;
    position: relative;
    border: 4px solid black;
}

#animationContainer2 {
    width: 600px;
    height: 400px;
    margin: auto;
    position: relative;
    border: 4px solid black;
}

.leftside {
    width: 400px;
    height: 400px;
    position: relative;
    background: lightgrey;
    float: left;
    display:inline-block;
}

.wall {
    width: 96px;
    height: 400px;
    position: relative;
    background: skyblue;
    float: left;
    border-left: 2px solid #007acc ;
    border-right: 2px solid #007acc;
    display: inline-block;
}

.rightside {
    width:300px;
    height:400px;
    position:relative;
    float: left;
    background: lightgrey;
    display:inline-block;
}

.slidecontainer {
    width: auto;
    float:left;
    padding: 20px;
    display: inline-block;
    position: absolute;
    text-align: center;
}

.slidertext {
    font-weight: 900;
}

.slider {
    -webkit-appearance: none;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7; 
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #007acc;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #007acc;
    cursor: pointer;
}

p {
    padding-left: 30px;
    padding-right: 30px;
}

#title {
    padding:20px;
    font: 600 50px 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: auto;
}

#background{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    background: white;
    border: 3px solid #251d1d;
}

.line {
    height:1px;
    margin-top:200px;
    position:absolute;
    background: black;
}

#line2{
    width:600px;
}

#line8 {
    width: 900px;
}

.button {
    background-color: darkmagenta;
    color: white;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 50px;
    width: 200px;
    border: none;
}

#s:focus{
    background-color: #480854;
}

#r:active {
    background-color: #480854;
}

#buttonContainer {
    padding-top: 30px;
    position:relative;
    width: 100%;
    margin: 0;
    text-align:center;
}

