.proton {
    width: 30px;
    height: 30px;
    position: absolute;
}

.potentialbarriertext {
    padding: 8px;
    margin:0 auto;
    position:relative;
    font-weight:800;
    font-size:large;
    text-align: center;
}

.electron {
    width: 50px;
    height: 50px;
    position: absolute;
}

#electron1{
    left: 150px;
}

#proton2 {
    top: 185px;
    left: 100px;
}

#proton3 {
    top: 185px;
    left: 100px;
}

#proton4 {
    top: 185px;
    left: 100px;
}

#proton5 {
    top: 185px;
    left: 100px;
    background: url("img/proton.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
}

body {
    background-image: url("img/background3.jpg");
    background-repeat: repeat-y;
    width: 1440px;
}

#container {
    width: 100%;
    height: 400px;
    margin: auto;
    padding: 10px;
}

#animationContainer {
    width: 900px;
    height: 400px;
    margin: 0 auto;
    margin-left: 50px;
    position: relative;
    border: 3px solid black;
    display: inline-block;
    box-shadow: 20px 20px 50px grey;
}

#animationContainer2 {
    width: 600px;
    height: 400px;
    margin: auto;
    position: relative;
    border: 4px solid black;
    box-shadow: 20px 20px 50px grey;
}

.leftside {
    width: 400px;
    height: 400px;
    position: relative;
    background: lightgrey;
    float: left;
    display:inline-block;
}

.wall {
    width: 96px;
    height: 400px;
    position: relative;
    background: #00c5d8;
    float: left;
    border-left: 2px solid #00c5d8;
    border-right: 2px solid #00c5d8;
    display: inline-block;
    text-align: center;
}

#rightside2 {
    width: 300px;
    height: 400px;
    position: relative;
    float: left;
    background: lightgrey;
    display: inline-block;
}

#rightside3 {
    width: 300px;
    height: 400px;
    position: relative;
    float: left;
    background: lightgrey;
    display: inline-block;
}

.slidecontainer {
    width: 200px;
    height: 300px;
    padding: 10px;
    display: inline-block;
    margin-left: 50px;
    margin-top: 50px;
    position: absolute;
    text-align: center;
}

.slidertext {
    font-weight: 900;
    padding-left: 0px;
    padding-right: 0px;
}

.energy {
    -webkit-appearance: none;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7; 
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
}

.energy::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #00419e;
    cursor: pointer;
}

.potential {
    -webkit-appearance: none;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
}

.potential::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #480854;
    cursor: pointer;
}

p {
    padding-left: 70px;
    padding-right: 70px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#titlecontainer {
    text-align:center;
}

#title {
    padding: 20px;
    font: 600 50px 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: auto;
    text-shadow: 2px 2px 5px grey;
}

#background{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    background: white;
    border: 3px solid #251d1d;
}

.line {
    height:0px;
    margin-top:200px;
    position:absolute;
    border: 1px dashed grey;
}

#line2{
    width:600px;
}

#line8 {
    width: 900px;
}

.button {
    background-color: #8080ff;
    color: white;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 50px;
    width: 150px;
    border: none;
    box-shadow: 20px 20px 50px grey;
    border-radius: 25px;

}

.button:focus {
    outline-style: none;
}

#s:focus{
    background-color: #480854;
}

#r:active {
    background-color: #480854;
}

#largeButtonContainer {
    padding-top: 30px;
    position:relative;
    width: 75%;
    margin: 0;
    text-align:center;
}

#smallButtonContainer {
    padding-top: 30px;
    position: relative;
    width: 100%;
    margin: 0;
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #01ff89;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* speech bubble */
.speech-bubble {
    position: absolute;
    background: #3e337e;
    border-radius: .4em;
    box-shadow: 20px 20px 50px grey;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 16px solid transparent;
    border-bottom-color: #3e337e;
    border-top: 0;
    border-left: 0;
    margin-left: -16px;
    margin-top: -16px;
    box-shadow: 20px 20px 50px grey;
}

.disclaimer {
    position: relative;
    display: inline-block;
    align-content:center;
    text-align: center;
    padding: 0px;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

#disclaimer {
    text-align: center;
    margin: 0;
}

/* Disclaimer text */
.disclaimer .disclaimerText {
    visibility: hidden;
    width: 400px;
    background-color: #8080ff;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    /* Position the disclaimer text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the disclaimer text when you mouse over the disclaimer container */
.disclaimer:hover .disclaimerText {
    visibility: visible;
}
}
